body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    padding: 8px;
    border-radius: 7px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #3881f6eb;
    text-decoration: none;
    transition-duration: 0.1s;
}

.section_a {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header, .section_1,
.section_2, .section_3,
.section_4 {
    margin: 0px 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    gap: 18px;
    font-size: 18px;
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.section_1 {
    display: flex;
    gap: 200px;
    margin-bottom: 120px;
    margin-top: 60px;
}

.container_2 {
    width: 40%;
    color: #E5E7EB;
}

#hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.placeholder {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    background-color: #84868c;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #E5E7EB;
}

.footer a{
    color: #3882F6;
    font-weight: bold;
}

.section_2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
    align-items: center;
}

#s2_h1 h1{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
}

.box {
    box-sizing: border-box;
    border: #3882F6 4px solid;
    width: 170px;
    height: 170px;
    border-radius: 16px;
    flex-grow: 0;
}

.box_container {
    display: flex;
    gap: 40px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.boxes p {
    text-align: center;
    color: #1F2937;
}

.container_3 {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.section_3 {
    box-sizing: border-box;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    align-self: center;
}

#quote_name {
    font-size: 18px;
    color: #1F2937;
    align-self: flex-end;
}

.section_4 {
    display: flex;
    background-color: #3882F6;
    height: 160px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;

}

.call {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
}

.call_h3, .call_p{
    margin: 0;
}

.call h3 {
    font-weight: bold;
    font-size: 24px;
}

.call_p {
    font-size: 18px;
}

#call_button {
    font-size: 18px;
    border: 2px #F9FAF8;
    border-style: solid;
    width: 140px;
}

#call_button:hover {
    background-color: #2e6dd251;
    text-decoration: none;
    transition-duration: 0.1s;
}
